@import "tailwindcss";
@source "./src";

/* Tailwind v4 explicitly pointed to src directory */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@custom-variant dark (&:is(.dark *));

::-webkit-scrollbar {
  display: none;
}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }

  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.8);
  }
}

.pulse-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
}

.pulse-ring {
  content: '';
  position: absolute;
  left: -12px;
  top: -12.5px;
  width: 50px;
  height: 50px;
  background-color: #3b82f6;
  border-radius: 50%;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulse-dot {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 16px;
  height: 16px;
  background-color: #3b82f6;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  border: 2px solid white;
}